```env
# Stellar RPC & Network Configuration
SOROBAN_RPC_URL="https://soroban-testnet.stellar.org"
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# Wallet Keys (For local test execution)
ADMIN_SECRET="S..."
TREASURY_ADDRESS="G..."

# Deployed Contract Addresses
FACTORY_CONTRACT_ID="CBXX6PF5CYXFNYNTGWOEERN5BLOTREMRCS66ZHHRPTAFYEFXQXC6TYCM"
DEFINDEX_VAULT_ADDRESS="CDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB"
TESTNET_USDC="CCRKWNDORTBX5XFCQIM7PZEH6AEBZSPYKAWOYL65DL3OYIXO65Y3UYGJ"
VAULT_WASM_HASH="c488f7f81a3c38c025de920d15a7f84a48fb6953c8f024a42edb73b87c3614bd"